.intern {
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.internTextS {
    width: 95%;
    margin: 0 auto;
}

.internH {
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
}

.internH {
    font-size: 30px;
    line-height: 36.57px;
    color: #282828;
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.InternPA {
    
    font-size: 24px;
    line-height: 31.2px;
    margin-top: 2%;
    font-weight: 400px;
    font-family: 'Montserrat', sans-serif;
    color: #282828;

}

.internW {
    font-weight: 600;
    margin-bottom: 100px;
    color: #000;
}

.typIn {
    font-size: 24px;
    line-height: 31.2px;
    display: block;
}
@media(max-width:600px)
{
    .InternPA,.typIn
    {
        font-size: 16px;
    }
}